html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 250%;
    color: black;
    background: whitesmoke;
    min-height: 100vh;
    position: relative;
    margin: 0;
    border: solid red;
}

body::after {
    content: "";
    display: block;
}

main {
    padding-bottom: 4rem;
    border: solid blue;
}

/* Menu Bar styling */

nav {
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.navbar .title {
    color: red;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 200%;
}

/* Sets navigation link styling, oriented on right side of page, colors, padding, display block means it  */

.navbar a {
    float: right;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* When mouse hovers over a link in the navigation bar, change background color, and text color */

.navbar a:hover {
    background-color: lightgray;
    color: black;
}

/* 
First row for Resume content in 3 column layout.
Second Row, 1 column with text, and profile image - want these attached, with he text closer to the contact form
*/

/* Height can and should be removed once I can blend with background colors */

.column {
    float: left;
    width: 33.33%;
    padding: 3%;
    height: auto;
    box-sizing: border-box;
    background-color: whitesmoke;
}

/* ensures the next logical content does not interfere with the columns */

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Container div for profile image and interests text */

.profile {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* This seems to avoid having to set a min-height or height. It seems to bound the height of profile based on the content inside of this div. */
}

/* profile image styling */

#profile-image {
    order: 1;
    /* float: left; */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: 15%; */
    border-radius: 8px;
    /* max-width: 100%; */
    /* height: auto; */
}

/* Text that floats next to profile image */

#interests {
    order: 0;
    /* flex-basis: 30%; */
    /* float: right; */
    /* width: 50%; */
}

/* Contact Form styling */

.contact-form {
    width: 60%;
    height: 600px;
}

/* Text that encourages contact form use, oriented to the left of the contact form */

#contact-text {
    float: left;
    text-align: right;
    padding-right: 40px;
    box-sizing: border-box;
    width: 40%;
}

/* List item formatting that removes list formatting from text */

#contact-text ul {
    list-style-type: none;
}

/* Add a background color and some padding around the form */

.contact-container {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
    width: 50%;
    /* downsizes container from full screen width */
    margin: auto;
    /* attempt to center contact form */
    float: right;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: darkslategray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Bottom of page, navigation links for further reference */

footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    height: 4rem;
    font-size: 130%;
    background-color: darkslategray;
    color: red;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    margin: 0px;
    border: 3px solid green;
}

/* Footer links that are floated to left */

footer a {
    text-decoration: inherit;
    color: white;
    font-size: inherit;
}

/* Footer text, like a CC, floating to the right */

footer #name-footer {
    float: right;
    color: white;
}